<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to [url]http://nlog-project.org/wiki/Configuration_file[/url] for more information -->

  <targets>
    <target name="run_log"
    xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="True"
    concurrentWrites="true"
    KeepFileOpen ="False"
    fileName="${basedir}/Application.log"
    encoding="win-1251"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="run_log" />
    <logger name="*" minlevel="Trace" writeTo="run_log" />
  </rules>
</nlog>