<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ACMReport3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ACMReport3.Properties.Settings.acmreportConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\acmreport.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ACMReport3.Properties.Settings>
            <setting name="ACMServerIP" serializeAs="String">
                <value>192.168.201</value>
            </setting>
            <setting name="ACMServerPort" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="ACMUsername" serializeAs="String">
                <value>postgresql</value>
            </setting>
            <setting name="ACMPassword" serializeAs="String">
                <value>postgresql</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandTimeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FolderModules" serializeAs="String">
                <value />
            </setting>
        </ACMReport3.Properties.Settings>
    </userSettings>
</configuration>
